 /* Estilo personalizado */
 body {
     background-color: #f5f5f5;
 }

 .card:hover {
     box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
     transform: translateY(-0.25rem);
     transition: all 0.3s ease;
 }

 .btn-primary {
     background-color: transparent;
     border-color: #4caf50;
     color: #4caf50;
     box-shadow: none;
     margin-right: 0.5rem;
 }

 .btn-primary:hover {
     background-color: #4caf50;
     border-color: #4caf50;
     color: #ffffff;
     box-shadow: none;
 }

 .form-switch {
    margin-left: 1rem;
 }

 .form-check-label {
     margin-left: 1rem;
 }

 .card {
     margin-bottom: 1rem;
 }

 .card-body {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
     flex-direction: row;
 }

 .btn-primary:disabled {
     color: #a9a9a9;
     border-color: #a9a9a9;
     background-color: #dcdcdc;
 }

 .card-title {
     text-align: center;
     font-weight: bold;
     margin-bottom: 0.5rem;
 }

 .list-group-item {
     background-color: transparent;
     border-color: #dcdcdc;
     color: #dcdcdc;
     font-size: 0.8rem;
     margin-bottom: 0.25rem;
 }

 .list-group-item:hover {
     background-color: #f5f5f5;
     border-color: #f5f5f5;
     color: #333333;
 }

 .list-group-item:first-child {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }

 .list-group-item:last-child {
     border-bottom-left-radius: 0;
     border-bottom-right-radius: 0;
 }


 .card-header {
     background-color: #343a40;
     color: #fff;
 }

 .card-body {
     margin-top: 20px;
 }

 .accordion-item {
     background-color: #f8f9fa;
     border: 1px solid #dee2e6;
     border-radius: 0.25rem;
     margin-bottom: 10px;
 }

 .accordion-button {
     background-color: #e9ecef;
     border: none;
     border-bottom: 1px solid #dee2e6;
     color: #212529;
     font-weight: 500;
 }

 .accordion-button:focus {
     box-shadow: none;
 }

 .accordion-body {
     padding: 1rem;
 }